.card-navbar-main-container{
    width: auto;
    height: 90%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2vw
}

.card-navbar-main-container.active{
    border-bottom: 2px solid darkblue;
}

.card-text{
    font-weight: 500;
    font-size: 1.35rem;
    white-space: nowrap;
}